.wy-nav-content-wrap {
  background-color: #FCFCFC;
}
.section h1 {
  margin-bottom: 0;
}
.section h2 {
  font-size: 125%;
  margin-bottom: 0;
}
.section p {
  color: #888888;
}
.fa {
  background-color: #CCCCCC;
  color: #FFFFFF;
  width: 1.4em;
  height: 1.4em;
  text-indent: 0;
  border-radius: 0.4em;
  font-size: 0.8em;
  line-height: 1.5em;
  text-align: center;
}
